# Spotify
SPOTIFY_CLIENT_ID=dummy
SPOTIFY_CLIENT_SECRET=dummy
SPOTIFY_REFRESH_TOKEN=dummy

# WakaTime
WAKATIME_API_KEY=dummy

# GitHub
GITHUB_READ_USER_TOKEN_PERSONAL=dummy

UMAMI_WEBSITE_ID=dummy
REVALIDATE_TTL=15

# New stuff

POSTGRES_URI=postgresql://user:password@host.docker.internal:5432/thijmen-dev-dev


S3_ENDPOINT=dummy   
S3_ACCESS_KEY_ID=dummy
S3_SECRET_ACCESS_KEY=dummy
S3_BUCKET=dummy 
PAYLOAD_SECRET=dafgadfkdbsa14erwerdvsdsdsdsvcxvxczxdsavadfvqwSS

SECURE_VALIDATION_TOKEN=some-random-token-here

CMS_ADMIN_EMAIL=thijmen@thijmen.dev
CMS_ADMIN_PASSWORD=password

NEXT_PUBLIC_SERVER_URL=http://test.127.0.0.1.sslip.io:3001
# NEXT_PUBLIC_SERVER_URL=http://localhost:3001
